@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

[v-cloak] {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.big-text {
  font-size: 4rem;
}

.bi {
  font-size: 0.9em;
}
